.new-user-card {
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
}
.new-user-name-input.MuiTextField-root {
    margin-top: 40px;
    width: 75%;
}
.btn-create-user.MuiButtonBase-root {
    margin: auto;
    margin-bottom: 20px;
}